<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/burger_style.css" />
    </head>

    <body>
        <img src="/assets/img/comic.jpg" id="comic">

        {{{ body }}}

        <footer class="burgerFooter">
            <div class="footer-copyright">
                <div class="container">
                    <span class="grey-text text-lighten-4">© 2019 mavstronaut</span>
                    <a class="grey-text text-lighten-4 right" href="https://saymeta.com">Portfolio</a>
                </div>
            </div>
        </footer>
    </body>
</html>